// color palette - these colors will be the color swatches of the Colors section

$color-1: #CDA34F; // Aztec Gold
$color-2: #E9E7DA; // Eggshell
$color-3: #636B46; // Umber
$color-4: #373F27; // Kombu Green
$color-5: #FFFFFF; // White

// additional colors

$success: #6fce72; // green
$alert: red; // red