.cd-primary-nav a {
    display: block;
    font-family: $secondary-font;
    padding: 0.75rem;
    text-align: center;
    text-decoration: none;
}

.cd-primary-nav a:nth-child(1) {
    background-color: $color-3;
    color: $color-2;
}

.cd-primary-nav a:nth-child(2) {
    background-color: $color-2;
    color: $color-4;
}

.cd-primary-nav a:nth-child(3) {
    background-color: $color-1;
    color: $color-5;
}

.cd-primary-nav a:nth-child(4) {
    background-color: $color-4;
    color: $color-2;
}

.cd-primary-nav a:nth-child(5) {
    background-color: $color-5;
    color: $color-1;
}