.cd-primary-nav a {
    display: block;
    font-family: $secondary-font;
    padding: 0.75rem;
    text-decoration: none;
}

.html {
    color:$color-2;
}

.css {
    color: $color-4;
}

.cc {
    color: $color-5;
}

.a11y {
    color: $color-2;
}

.gh {
    color: $color-1;
}

.otherLinks a {
    background-color: $color-1;
    color: $color-4;
}

.cd-primary-nav li:nth-child(1) {
    background-color: $color-3; 
}

.cd-primary-nav li:nth-child(2) {
    background-color: $color-2;
}

.cd-primary-nav li:nth-child(3) {
    background-color: $color-1;
}

.cd-primary-nav li:nth-child(4) {
    background-color: $color-4;
}

.cd-primary-nav li:nth-child(5) {
    background-color: $color-5;
}

